.event {
  padding-top: 160px;
  padding-bottom: 240px;
  background: var(
    --grad-blue,
    linear-gradient(
      180deg,
      rgba(56, 29, 219, 0.05) 0%,
      rgba(56, 29, 219, 0) 100%
    )
  );
  position: relative;

  @media screen and (max-width: $breakpoint__s) {
    padding-top: 80px;
  }

  &::before {
    position: absolute;
    left: 108px;
    top: 580px;
    background-image: url("./../assets/event-table/Confetti.png");
    background-repeat: no-repeat;
    width: 95px;
    height: 96px;
    content: "";
    animation: triangleSwirl 1s ease 0s 1 normal forwards;
    @media screen and (max-width: $breakpoint__l),
      screen and (max-width: $breakpoint__xl) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    right: 60px;
    bottom: 650px;
    background-image: url("./../assets/event-table/Confetti-1.png");
    background-repeat: no-repeat;
    width: 106px;
    height: 107px;
    content: "";
    animation: swirlForward 1s ease 0s 1 normal forwards;
    @media screen and (max-width: $breakpoint__l),
      screen and (max-width: $breakpoint__xl) {
      display: none;
    }
  }
}

.confetti {
  position: absolute;
  bottom: 565px;
  right: 50px;
  animation: swirl 1s ease 0s 1 normal forwards;

  @media screen and (max-width: $breakpoint__l),
    screen and (max-width: $breakpoint__xl) {
    display: none;
  }
}

.triangle-confetti {
  position: absolute;
  bottom: 120px;
  right: 205px;
  animation: triangleSwirl 1s ease 0s 1 normal forwards;
}

.event__tabs {
  margin-top: 60px;
  display: flex;
  column-gap: 30px;
  font-family: $font-secondary;
}

.tabs__content--body {
  font-size: 12px;
}

.tabs__content {
  display: none;
  margin-top: 40px;
  max-width: 1170px;
  overflow: hidden;
  border: 1px solid $light-gray;
  border-radius: 24px;
  animation: movingContent 0.5s ease;
}

.tabs__content.active {
  display: block;
}

.tabs__content--header {
  padding: 41px 200px 41px 40px;
  display: flex;
  column-gap: 30px;
  background-color: $event-gray;

  @media screen and (max-width: $breakpoint__s) {
    padding: 25px 100px 25px 12px;
    column-gap: 55px;
  }

  @media screen and (max-width: $breakpoint__xs) {
    column-gap: 25px;
  }

  @media screen and (max-width: $breakpoint__xxs) {
    column-gap: 15px;
  }

  p {
    width: 230px;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;

    @media screen and (max-width: $breakpoint__s) {
      font-size: 20px;
    }

    &:nth-child(2) {
      width: 370px;
    }
  }
}

.tabs__content--item {
  display: flex;
  column-gap: 30px;
  padding: 40px 40px 48px 40px;
  border-bottom: 1px solid $light-gray;

  @media screen and (max-width: $breakpoint__s) {
    column-gap: 70px;
    padding: 40px 40px 48px 13px;
  }

  @media screen and (max-width: $breakpoint__xxs) {
    column-gap: 30px;
  }

  p {
    width: 204px;

    &:nth-child(2) {
      width: 370px;

      @media screen and (max-width: $breakpoint__l) {
        width: 340px;
      }

      @media screen and (max-width: $breakpoint__s) {
        width: 25%;
      }
    }
    @media screen and (max-width: $breakpoint__s) {
      width: 25%;
    }
  }
}

.speaker {
  width: 270px;

  display: flex;
  align-items: center;
  column-gap: 10px;

  @media screen and (max-width: $breakpoint__l) {
    width: 160px;
  }
  @media screen and (max-width: $breakpoint__s) {
    width: 25%;
  }

  &--title {
    font-weight: 700;
  }

  &--suptitle {
    opacity: 0.5;
  }
}

.speaker img {
  @media screen and (max-width: $breakpoint__s) {
    max-width: 80px;
  }
}

.text {
  font-weight: 700;

  @media screen and (max-width: $breakpoint__s) {
    font-size: 12px;
  }
}

.link {
  text-align: right;
  display: flex;
  align-items: center;

  @media screen and (max-width: $breakpoint__s) {
    display: none;
  }

  @media screen and (max-width: $breakpoint__xs) {
    display: none;
  }

  @media screen and (max-width: $breakpoint__xxs) {
    display: none;
  }
}

.link a {
  font-family: $font-secondary;
  color: $color-dark;
  font-weight: 700;
  position: relative;

  @media screen and (max-width: $breakpoint__s) {
    color: transparent;
  }

  &::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -32px;
    background-image: url("./../assets/event-table/Icons/Play.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;

    @media screen and (max-width: $breakpoint__s) {
      right: 80px;
    }
  }
}

.link--live a {
  color: $color-red;

  @media screen and (max-width: $breakpoint__s) {
    color: transparent;
  }

  &::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -32px;
    background-image: url("./../assets/event-table/Icons/live.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;

    @media screen and (max-width: $breakpoint__s) {
      right: 80px;
    }
  }
}

.link--upcoming a {
  &::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -32px;
    background-image: url("./../assets/event-table/Icons/Clock.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;

    @media screen and (max-width: $breakpoint__s) {
      right: 80px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-right: 35px;

  &--right {
    margin-right: 60px;

    @media screen and (max-width: $breakpoint__m) {
      margin-right: 27px;
    }
  }

  @media screen and (max-width: $breakpoint__m) {
    margin-right: 46px;
  }
}

.wrapper--right {
  @media screen and (max-width: $breakpoint__m) {
    margin-right: 77px;
  }
}

.wrapper--last {
  @media screen and (max-width: $breakpoint__m) {
    margin-right: 25px;
  }
}
