@keyframes confetti {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    right: 70;
    bottom: 0;
  }

  25% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    right: 326px;
    bottom: 0;
  }

  50% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    bottom: 300px;
    right: 100;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    right: 70;
  }
}

@keyframes slide {
  0% {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -50%);
    right: 10px;
  }
}

@keyframes leftSlide {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes swirl {
  0% {
    opacity: 0;
    transform: rotate(-540deg) scale(0);
    transform-origin: 0 50%;
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
    transform-origin: 0 50%;
  }
}

@keyframes wobble {
  0%,
  100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateY(-30px) rotate(-6deg);
  }

  30% {
    transform: translateY(15px) rotate(6deg);
  }

  45% {
    transform: translateY(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateY(9px) rotate(2.4deg);
  }

  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}

@keyframes swirlForward {
  0% {
    opacity: 0;
    transform: rotate(-540deg) scale(0);
    transform-origin: 50% 100%;
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
    transform-origin: 50% 100%;
  }
}

@keyframes pulse {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
    transform: rotate(0);
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes triangleSwirl {
  0% {
    opacity: 0;
    transform: rotate(-540deg) scale(0);
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}

@keyframes linerDrop {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

@keyframes movingContent {
  from {
    transform: translate(50px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
