// Fonts

$font-main: "Raleway", sans-serif;
$font-secondary: "Montserrat", sans-serif;

// General Colors

$color-white: #ffffff;
$color-dark: #222222;
$color-pink: #ffa3a3;
$color-blue: #381ddb;
$color-red: #fc5252;

// Additional Colors

$light-gray: #e0e0e0;
$gray: #f8f8f8;
$event-gray: #efecfc;
$dark-yellow: #db841d;
$light-brown: #aa6550;
$purple: #c00096;
$light-pink: #ffcdcd;
$color-nude: #ffbe9d;
$light-blue: #84c4ff;

// Media queries

$breakpoint__xxl: 1800px;
$breakpoint__xl: 1440px;
$breakpoint__l: 1024px;
$breakpoint__m: 768px;
$breakpoint__s: 425px;
